* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    display: flex;
    justify-content:space-around;
    margin: 0;
}

#container {
    height: 730px;
    width: 450px;
    background-color: black;
    margin-top: 6vh;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    margin-top: 90px;
    display: flex;
    border: 2px solid white;
    width: 410px;
    height: 100px;
    color: white;
    font-size: 65px;
    font-weight: bolder;
    align-items: flex-end;
    justify-content: end;
}
.main {
    border: 2px solid white;
    width: 410px;
    height: 420px;
    display: flex;
    justify-content: space-between;

}

.main button {
    margin: 3px;
    border-radius: 10rem;
    padding: 2.0rem;
    font-size: 26px;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: none;
}

.main .digits {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.main .digits button {
    margin: 0;
    padding: 1.9rem;
}

.main .ops {
    border: 2px white solid;
    display: flex;
    flex-direction: column;
}

.main .ops button {
    background-color: orange;
    padding: 1.6rem;
    font-size: 22px;
}
