* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    display: flex;
    justify-content:space-around;
    margin: 0;
}

#container {
    height: 730px;
    width: 450px;
    background-color: black;
    margin-top: 6vh;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    margin-top: 90px;
    border: 2px solid white;
    width: 410px;
    height: 100px;
}
.main {
    border: 2px solid white;
    width: 410px;
    height: 420px;
    display: flex;
    justify-content: center;

}

.main button {
    border-radius: 10rem;
    padding: 2.0rem;
    font-size: 26px;
    margin: 5.0px;
    background-color: grey;
    font-weight: bold;
    color: white;
    border: none;
}

.main .digit {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}
.main .op button {
    background-color: orange;
}