* {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    display: flex;
    justify-content:space-around;
    margin: 0;
}

#container {
    height: 730px;
    width: 450px;   
    background-color: black;
    margin-top: 6vh;
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#display {
    margin-top: 90px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    width: 410px;
    height: 100px;
    color: white;
    font-size: 70px;
    font-weight: bolder;
    align-items: flex-end;
    justify-content: end;
    border: 2px solid white;
}
.main {
    width: 410px;
    height: 420px;
    display: flex;
    justify-content: space-between;

}

.main button {
    margin: 3px;
    margin-left: 20px;
    border-radius: 50%;
    font-size: 26px;
    background-color: #505050;
    font-weight: bold;
    border-style: none;
    cursor: pointer;
    color: white;
}

.main .digits {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.main .digits button {
    margin: 0;
    height: 90px;
    width: 90px;
}
button:active {
    background-color: white;
    color: black;
}
.main .ops {
    display: flex;
    flex-direction: column;
}

.main .ops button {
    background-color: orange;
    padding: 1.6rem;
    font-size: 22px;
}
